*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: rgb(116, 213, 243);
    font-size: 2.2vh;
    padding: 1vh;
}
td{
    padding: 1vh;
}
tr{
    font-size: 2.2vh;
    cursor: pointer;
}
tr:nth-child(odd){
    background-color: rgb(229, 241, 245);
}
nav{
    display: flex;
    height: 10vh;
    background: rgb(198, 232, 243);
}
.left{
    margin-top: 3vh;
    margin-left: 5vh;
}
span{
    padding: 2vh;
}
.right{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
}
#interview{
    padding: 5px;
    height: 3.5vh;
    width: 55vh;
    border: 1px solid grey;
    border-radius: 4px;
}
#websiteSearch{
    padding: 5px;
    height: 5vh;
    width: 35vh;
    border: 1px solid grey;
    border-radius: 4px;
    margin-left: 5vh;
}
#search{
    margin-top: 2vh;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 4vh;
    padding-right: 4vh;
}
#searchRental{
    padding: 8px;
    height: 2.5vh;
    width: 35vh;
    margin-bottom: 1vh;
}
#book{
    background-color: white;
    padding: 2vh;
    border: 2px solid rgb(85, 158, 182);
    border-radius: 5px;
    width: 35vh;
    margin: 4vh;
    cursor: pointer;
}
#refresh{
    background-color: white;
    padding: 2vh;
    border: 2px solid rgb(85, 158, 182);
    border-radius: 5px;
    width: 35vh;
    margin: 4vh;
    cursor: pointer;
}
#buttons{
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: auto;
}
#modal{
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: whitesmoke;
    padding: 15vh;
    /* animation-delay: 12s; */
}
ul{
    list-style-type: none;
}